// USER VARIABLES SECTION

$accent: #203b7e; // Accent Color
$accent_hover: #1a3371; // Accent Hover Color
$footer_bg: #0c0c0c;
$fontsize: 16px; // Body Font Size
$textcolor: #333; // Text Color
$white: #ffffff;
$light_grey: #7e7e7e;
$light_grey2: #bababa;
$light_grey3: #969696;

$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

// IMPORT SECTION
@import 'node_modules/reset-css/sass/reset'; // Classical reset.css
//@import 'node_modules/animate-scss/animate.scss';
//@import 'node_modules/slick-carousel/slick/slick.scss'; // Slick slider scss
//@import 'node_modules/slick-carousel/slick/slick-theme.scss'; // Slick slider scss theme

// FONTS LOAD SECTION
@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    // font-display: swap; // Uncomment to initially display system fonts
    src: local($fname), url($furl) format('woff2');
  }
}

// GENERAL DOCUMENT STYLES

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

input,
textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: $fontsize;
  min-width: 320px;
  height: 100%;
  font-weight: normal;
  line-height: 1.65;
  overflow-x: hidden;
  color: $textcolor;
  background: url('../images/dest/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

@media only screen and (max-width: 640px) {
  body {
    background-image: none;
  }
}
